[Unit]
Description=Startup of the mock file deleter

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/Programming/huecontrol
ExecStartPre=/bin/sleep 10
ExecStart=/home/pi/Programming/huecontrol/mock_file_deleter.py
Restart=always

[Install]
WantedBy=multi-user.target
