[Unit]
Description=Startup of the motion controller

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/Programming/huecontrol
ExecStart=/home/pi/Programming/huecontrol/motionsensor.py
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
