[Unit]
Description=Startup of phue server

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/Programming/huecontrol
ExecStart=/home/pi/Programming/huecontrol/phue_server.py
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
